/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}

.upperBar{
    -fx-background-color: #303030;
}

.btnMinimizar{
    -fx-background-radius: 3px;
    -fx-background-color: transparent;
}
.btnMinimizar:hover 
{
    -fx-background-color: #808080;
}

.btnFechar{
    -fx-background-radius: 3px;
    -fx-background-color: transparent;
}
.btnFechar:hover 
{
    -fx-background-color: red;
} 

.btnToggleMenu{
    -fx-border-style: solid;
    -fx-border-width: 3px;
    -fx-border-radius: 7px;
    -fx-border-color: #3a3b3c;
    
    -fx-background-radius: 10px;
    -fx-background-color: #3a3b3c;
}
.btnToggleMenu:hover 
{
    -fx-border-color: gray;
    -fx-cursor: hand;
} 

.anchorPaneConteudo{
    -fx-background-color: green;
}

.anchorPaneOpacidade{
    -fx-background-color: black;
}

.anchorPaneMenu{
    -fx-background-color: #3a3b3c;
}

.itemMenu{
    -fx-background-radius: 10px;
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.itemMenu:hover{
    -fx-background-color: #444546;
    -fx-cursor: hand;
}