/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}

.anchorPaneConteudo{
    -fx-background-color: gray;
}

.anchorPaneOpacidade{
    -fx-background-color: black;
    -fx-opacity: 0.4;
}

.anchorPaneMenu{
    -fx-background-color: #3a3b3c;
    -paint: white;
}

.anchorPaneMenu .btn{
    -fx-border-width: 3px;
    -fx-text-fill: -paint;
    
    -fx-background-radius: 10px;
    -fx-background-color: transparent;
}

.anchorPaneMenu .btnMenu{
    -fx-border-width: 3px;
    -fx-text-fill: -paint;
    
    -fx-background-radius: 10px;
    -fx-background-color: transparent;
}

.anchorPaneMenu .btn:hover 
{
    -fx-border-color: gray;
    -fx-cursor: hand;
}